#cabecalho{
    height: 50px;
    flex-direction: row;
    display:flex;
    justify-content: space-around;
    background: rgb(255,222,80);
    background: linear-gradient(90deg, rgba(255,222,80,1) 35%, rgba(255,145,77,1) 100%);
    align-items: center;

}

body{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0; 
    padding: 0;
    justify-items: center;
    justify-self: center;
    
}
.margem{
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#itemPrincipal{
    font-size: x-large;
    font-weight: bold;
}
.itens{
    font-size: 20px;
}

#apresentacao{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    align-items: center;
}

#tituloApresentacao{
    color: #FF914D;
    font-size: 40px;
}

#imagemApresentacao{

    border-radius: 10px;
    height: 350px;
    width: 400px;
}

#botaoOrcamento{
    background-color: white;
    border-radius: 8px;
    
}

#divTexto{
    padding-left: 80px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;

}

#textoApresentacao{

    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

#tituloServico{
    color: #FF914D;
    font-size: 40px;
}

#servico{
    width: 100%;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: #D9D9D9;

}

#tituloContato{
    padding-top: 20px;
    color: #FF914D;
    font-size: 40px;
    margin-bottom: 40px;
}

#imagensServico{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.imagemServico{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.textoServico{
    font-size: 20px;
    color: #474646;
    font-weight: bolder;
}


#contato{   
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 100px;
}

#textoContato{
    font-size: 20px;
    color: #474646;
    font-weight: bolder;
}

.icones{
    display: flex;
    flex-direction: row;
}

.imagemContato{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#rodape{
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(255,222,80);
    background: linear-gradient(90deg, rgba(255,222,80,1) 35%, rgba(255,145,77,1) 100%);
}


/* formulario */

#corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#form{
    display: flex;
    flex-direction: column;
}

.margem2{
    margin-top: 10px;
}
.margem3{
    margin-top: 30px;
}
.enviar{
    margin-top: 30px;
    width: 300px;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.enviar:hover{
    background-color: rgb(40, 40, 40);
}

.caixa{
    width: 300px;
    height: 30px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
}

.delete-button {
    float: right;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.delete-button:hover {
    background-color: #d32f2f;
}

#registros{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;

}

.botaoRegistros{
    margin-top: 30px;
    width: 300px;
    height: 30px;
    background-color: lightslategray;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.botaoRegistros:hover {
    background-color: rgb(85, 98, 111);
}

.botaoLimpar{
    width: 300px;
    height: 30px;
    background-color: rgb(26, 130, 118);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.botaoLimpar:hover {
    background-color: rgb(13, 68, 62);
}
